/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common styles or utilities*/
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
    margin: 0 auto;
}
/* main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #FFFFFF;
    padding: 30px;
    width: 870px;
    border-radius: 5px;
    margin-top: 21px;
} */
/* top-section styles */
.top-sections{
    background: #2D25A0;
    width: 100%;
    height: 695px;
}
.top-section{
    display: grid;
   grid-template-columns: repeat(2, 1fr);
   column-gap: 100px;
   padding: 150px 100px;
}
.top-section-info{
    /* width: 485px;
    height: 270px; */
    /* padding-left: 156px;
    padding-top: 207px; */
}
.top-section-title{
    font-size: 64px;
    color: #FFFFFF;
    font-weight: 700;
    margin-bottom: 0 ;
}
.top-button{
    width: 168px;
    background: #E02C6D;
    margin-top: 10px;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
}
.top-button a{
    text-decoration: none;
    color: white;
}
/* all players styles */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin: 70px 180px;
    row-gap: 27px;
}
.player{
    width: 300px;
    height: 485px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
}
.player-info p{
    text-align: justify ;
}

/* footer-styles */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}


/* Media Qureies-------------------------------- */
/* Mobile devices */
@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    .players, .blogs, .latest-courses{
        grid-template-columns: repeat(1, 1fr);
    }
    .player,.blog,.course{
        flex-direction: column;
    }
    
}
/* Tablet devices */
@media only screen and (min-width: 688px)and (max-width:992px){
    .container{
        width: 100%;
    }
    .players, .blogs, .latest-courses{
        grid-template-columns: repeat(2, 1fr);
    }
    
}


