/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common styles or utilities*/
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
    margin: 0 auto;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #2D25A0;
    width:100% ;
    align-items: center;
    overflow:hidden;
}
/* top-section styles */
.top-sections{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    column-gap: 100px;
    padding: 50px 0px 80px;
    margin-left: 10%;
    margin-bottom: 0px;
    width: 1100px;
    
}
.top-section-info{
    width:485px;
    height:300px;
}
.top-section-title{
    font-size: 60px;
    color: #FFFFFF;
    font-weight: 700;
    margin-bottom: 0 ;
    align-items: center;
}
.top-button,.h-button{
    width: 168px;
    background: #E02C6D;
    margin-top: 10px;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
}
.top-button a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.top-button a:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .top-button:hover a {
    padding-right: 45px;
  }
  .top-button:hover a:after {
    opacity: 1;
    right: 0;
  }
/* all players styles */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin: 70px 180px;
    row-gap: 27px;
}
.player{
    width: 300px;
    height: 485px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
}
.player-info p{
    text-align: justify ;
}
/* highlight section styles */
.h-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 100px;
    padding: 50px 80px;
    margin-left: 90px;
    width: 1100px;
}
.h-section-info{
width:480px;
height:309px;
}
.h-section-title{
    color: black;
    font-size: 45px;
    font-weight: 700;
}
.h-button a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.h-button a:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .h-button:hover a {
    padding-right: 45px;
  }
  .h-button:hover a:after {
    opacity: 1;
    right: 0;
  }
/* trophy styles */
/* sponsor section styles */
.trophy-title,.sponsor-title{
    color: black;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}
.trophy-img, .sponsor-img {
    width: 1500px;
}
/* footer-styles */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
.fab{
    background-color: #d3d1d1;
    border-radius: 50%;
    margin: 0px 7px;
    padding: 8px;
}


/* Media Qureies-------------------------------- */
/* Mobile devices */
@media only screen and (max-width:688px) {
    .top-section-info{
        width: 300px;
        height:200px;
    }
    .top-section-title{
        font-size: 30px;
        color: #FFFFFF;
        font-weight: 500;
        margin-bottom: 0 ;
        align-items: center;
    } 
    .top-section-image{
        width: 150px;
    }   
    .container{
        width: 97%;
    }
    .top-sections,.players,.h-section{
        grid-template-columns: 200px;
    }
    .player{
        width: 300px;
        height: 520px;
        background: #FFFFFF;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
        padding: 10px;
    }
    .trophy-img, .sponsor-img {
        width: 600px;
        margin-left: 20%;
    }

    .h-section-info{
        width:300px;
        height:340px;
        margin-left: 400px;
        }
    .h-section-title{
            color: black;
            font-size: 30px;
            font-weight: 500;
            align-items: center;
        }  
    .h-section-image{
        width:150px;
        margin-left: 300px;
    }      
}
/* Tablet devices */
@media only screen and (min-width: 688px)and (max-width:992px){
    .container{
        width: 100%;
    }
    .top-sections{
        display: grid;
        grid-template-columns: 170px 170px;
        margin-left: 5%;
    }
    .top-section-info{
        width: 250px;
        height:200px;
    }
    .top-section-title{
        font-size: 45px;
        color: #FFFFFF;
        font-weight: 500;
        margin-bottom: 0 ;
        align-items: center;
    } 
    .top-section-image{
        width: 200px;
    }
    .players{
        grid-template-columns: repeat(2, 1fr);
    }
    .h-section{
        display: grid;
        grid-template-columns: 200px 170px;
        margin-left: 15%;
    }
    .h-section-info{
        width:300px;
        height:300px;
        }
    .h-section-title{
        font-size: 32px;
        font-weight: 500;
    }
    .h-section-image{
        width: 200px;
    }
    .trophy-img, .sponsor-img {
        width: 1000px;
    }
}


